<!DOCTYPE html>
<html>
<head>
  <title>RussianInvoices</title>
  <%= stylesheet_link_tag    "russian_invoices/application", media: "all" %>
  <%= javascript_include_tag "russian_invoices/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
