:css
  #right_header {
    float: right;
    text-align: right;
    width: 200px;
    font-size: 8px;
  }
  .clearfix {
    clear: both;
    width: 100%;
    height: 1px;
  }
  #header {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
  }
  #top_details {
    margin-top: 7px;
    font-size: 11px;
  }
#document
  #right_header
    ПРИЛОЖЕНИЕ № 1
    %br
    к постановлению Правительства
    %br
    Российской Федерации
    %br
    от 26 декабря 2011 г. № 1137
  .clearfix
  #header
    СЧЕТ-ФАКТУРА № 000289 от 31 марта 2014 г.
    %br
    ИСПРАВЛЕНИЕ № --- от ---
  #top_details
    %strong Продавец:
    ЗАО "Милана"
    %br
    %strong Адрес:
    129366, Москва, Ракетный бульвар, 17
    %br
    %strong ИНН/КПП продавца:
    7717027908/671010011
    %br
    %strong Грузоотправитель и его адрес:
    Он же
    %br
    %strong Грузополучатель и его адрес:
    ООО "Чемпион", Адрес: 129366, Москва, Ракетный бульвар, 1
    %br
    %strong К платежно-расчетному документу
    №124 от 24.01.2014, №232 от 27.01.2014
    %br
    %strong Покупатель:
    ООО "Чемпион"
    %br
    %strong Адрес:
    129366, Москва, Ракетный бульвар, 1
    %br
    %strong ИНН/КПП покупателя:
    7717000408/671010011
    %br
    %strong Валюта: наименование, код:
    Российский рубль, 643
